body {
  color: RED;
  font-family: arial;
}
img {
  display: flex;
  padding: auto;
  margin: 0;
  border-radius: 130px;
}
ol {
  list-style: none;
  padding: 0;
  margin-bottom: 10%;
  font-size: 3em;
  display: flex;
  justify-content: space-evenly;
}
ul
#top{
  background-color: blue;
}
#middle{
  background-color: blueviolet;
  font-style: italic;
}
#bottom{
  background-color: red;
  color: white;
  font-size: 36px;
}
h1:hover{
    transition: 0.6s ease;
    font-size: 1.6em;
    cursor: pointer;
}
